{% macro render_user_form(user, roles, is_edit=False) %}
    <div class="mb-3">
        <label for="last_name" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name if user else '' }}">
    </div>
    <div class="mb-3">
        <label for="first_name" class="form-label">Имя *</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name if user else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="middle_name" class="form-label">Отчество</label>
        <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ user.middle_name if user else '' }}">
    </div>
    <div class="mb-3">
        <label for="role_id" class="form-label">Роль</label>
        <select class="form-select" id="role_id" name="role_id">
            <option value="">-- Без роли --</option>
            {% for role in roles %}
                <option value="{{ role.id }}" {% if user and user.role_id == role.id %}selected{% endif %}>
                    {{ role.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    {% if not is_edit %}
        <div class="mb-3">
            <label for="username" class="form-label">Логин *</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль *</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Сохранить</button>
{% endmacro %}